## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint

In [21]:
#  Import and read the charity_data.csv.

application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.info()
application_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [22]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df =application_df.drop(columns = ["EIN", "NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [23]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [24]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
type_value_counts = application_df["APPLICATION_TYPE"].value_counts()
type_value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [25]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = type_value_counts[type_value_counts<528].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
cls_value_counts = application_df["CLASSIFICATION"].value_counts()
cls_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [27]:
# You may find it helpful to look at CLASSIFICATION value counts >1
filtered_cls_value_counts = cls_value_counts[cls_value_counts>1]
filtered_cls_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [28]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
filtered_cls_value_counts_to_replace = cls_value_counts[cls_value_counts<1883]
classifications_to_replace = filtered_cls_value_counts_to_replace.index.tolist()
print(classifications_to_replace)

['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

In [29]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [30]:
# review the dataFrame
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [31]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [32]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [33]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [34]:
# check the shape of training data
X_train_scaled.shape

(25724, 43)

## Compile, Train and Evaluate the Model

In [41]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=43, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=8, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 43)                1892

 dense_4 (Dense)             (None, 8)                 352

 dense_5 (Dense)             (None, 1)                 9

=================================================================
Total params: 2,253
Trainable params: 2,253
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
#Set initial batch size
initial_batch_size = 32

# Define the ModelCheckpoint callback
checkpoint_callback = ModelCheckpoint(
    #Save weights with epoch number in filename
    filepath='output/model_weights_epoch_{epoch:02d}.h5',
    #Save only the model's weights
    save_weights_only=True,
    #Save every 5 epochs
    save_freq=5*len(X_train_scaled)//initial_batch_size 
)

# Train the model
fit_nn = nn.fit(X_train_scaled, y_train, epochs=50, 
                batch_size = initial_batch_size, 
                callbacks=[checkpoint_callback])

Epoch 1/50
804/804 [==============================] - 1s 742us/step - loss: 0.5911 - accuracy: 0.7006
Epoch 2/50
804/804 [==============================] - 1s 731us/step - loss: 0.5569 - accuracy: 0.7272
Epoch 3/50
804/804 [==============================] - 1s 753us/step - loss: 0.5527 - accuracy: 0.7293
Epoch 4/50
804/804 [==============================] - 1s 748us/step - loss: 0.5511 - accuracy: 0.7312
Epoch 5/50
804/804 [==============================] - 1s 801us/step - loss: 0.5496 - accuracy: 0.7311
Epoch 6/50
804/804 [==============================] - 1s 707us/step - loss: 0.5483 - accuracy: 0.7322
Epoch 7/50
804/804 [==============================] - 1s 747us/step - loss: 0.5476 - accuracy: 0.7323
Epoch 8/50
804/804 [==============================] - 1s 801us/step - loss: 0.5472 - accuracy: 0.7324
Epoch 9/50
804/804 [==============================] - 1s 971us/step - loss: 0.5465 - accuracy: 0.7328
Epoch 10/50
804/804 [==============================] - 1s 884us/step - loss: 0.5458 - accuracy: 0.7332
Epoch 11/50
804/804 [==============================] - 1s 773us/step - loss: 0.5460 - accuracy: 0.7338
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7336
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7345
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5446 - accuracy: 0.7338
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7346
Epoch 16/50
804/804 [==============================] - 1s 896us/step - loss: 0.5443 - accuracy: 0.7343
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7349
Epoch 18/50
804/804 [==============================] - 1s 994us/step - loss: 0.5436 - accuracy: 0.7345
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7350
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7353
Epoch 21/50
804/804 [==============================] - 1s 940us/step - loss: 0.5431 - accuracy: 0.7350
Epoch 22/50
804/804 [==============================] - 1s 879us/step - loss: 0.5436 - accuracy: 0.7360
Epoch 23/50
804/804 [==============================] - 1s 862us/step - loss: 0.5430 - accuracy: 0.7346
Epoch 24/50
804/804 [==============================] - 1s 888us/step - loss: 0.5429 - accuracy: 0.7357
Epoch 25/50
804/804 [==============================] - 1s 927us/step - loss: 0.5425 - accuracy: 0.7350
Epoch 26/50
804/804 [==============================] - 1s 918us/step - loss: 0.5423 - accuracy: 0.7355
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7364
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7360
Epoch 29/50
804/804 [==============================] - 1s 951us/step - loss: 0.5425 - accuracy: 0.7358
Epoch 30/50
804/804 [==============================] - 1s 804us/step - loss: 0.5420 - accuracy: 0.7356
Epoch 31/50
804/804 [==============================] - 1s 847us/step - loss: 0.5418 - accuracy: 0.7366
Epoch 32/50
804/804 [==============================] - 1s 899us/step - loss: 0.5417 - accuracy: 0.7365
Epoch 33/50
804/804 [==============================] - 1s 864us/step - loss: 0.5417 - accuracy: 0.7368
Epoch 34/50
804/804 [==============================] - 1s 843us/step - loss: 0.5418 - accuracy: 0.7367
Epoch 35/50
804/804 [==============================] - 1s 936us/step - loss: 0.5413 - accuracy: 0.7362
Epoch 36/50
804/804 [==============================] - 1s 936us/step - loss: 0.5409 - accuracy: 0.7367
Epoch 37/50
804/804 [==============================] - 1s 965us/step - loss: 0.5416 - accuracy: 0.7367
Epoch 38/50
804/804 [==============================] - 1s 866us/step - loss: 0.5415 - accuracy: 0.7369
Epoch 39/50
804/804 [==============================] - 1s 902us/step - loss: 0.5409 - accuracy: 0.7369
Epoch 40/50
804/804 [==============================] - 1s 957us/step - loss: 0.5410 - accuracy: 0.7367
Epoch 41/50
804/804 [==============================] - 1s 865us/step - loss: 0.5406 - accuracy: 0.7372
Epoch 42/50
804/804 [==============================] - 1s 936us/step - loss: 0.5404 - accuracy: 0.7366
Epoch 43/50
804/804 [==============================] - 1s 958us/step - loss: 0.5407 - accuracy: 0.7368
Epoch 44/50
804/804 [==============================] - 1s 832us/step - loss: 0.5406 - accuracy: 0.7374
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7369
Epoch 46/50
804/804 [==============================] - 1s 888us/step - loss: 0.5404 - accuracy: 0.7369
Epoch 47/50
804/804 [==============================] - 1s 890us/step - loss: 0.5399 - accuracy: 0.7358
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5398 - accuracy: 0.7375
Epoch 49/50
804/804 [==============================] - 1s 844us/step - loss: 0.5400 - accuracy: 0.7371
Epoch 50/50
804/804 [==============================] - 1s 957us/step - loss: 0.5398 - accuracy: 0.7376

In [44]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5564 - accuracy: 0.7287 - 322ms/epoch - 1ms/step
Loss: 0.5564415454864502, Accuracy: 0.7287463545799255

In [45]:
# Export the model to HDF5 file
nn.save('output/AlphabetSoupCharity.h5')

In [46]:
# Load the model
from tensorflow.keras.models import load_model

# load the model
loaded_nn = load_model('output/AlphabetSoupCharity.h5')

# Verify the model structure
loaded_nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 43)                1892

 dense_4 (Dense)             (None, 8)                 352

 dense_5 (Dense)             (None, 1)                 9

=================================================================
Total params: 2,253
Trainable params: 2,253
Non-trainable params: 0
_________________________________________________________________